<div class="row">
    <div class="col-xs-12">
        <p>Êtes vous sur de vouloir désactiver le sujet "<strong>{{ entity.title }} ?</strong>"</p>
        <form class="desactive-subject-form" id="subject" method="post" action="{{ path('subject_desactive', { 'subject': entity.id }) }}" >
            {{ form_widget(form) }}
        </form>
    </div>
</div>
