<div class="row">
    <div class="col-xs-12">
        <p>Êtes vous sur de vouloir supprimer le commentaire "<strong>{{ entity.comment }} ?</strong>"</p>
        <form class="delete-comment-form" id="comment" method="post" action="{{ path('forum_comment_delete', { 'comment': entity.id }) }}" >
            {{ form_widget(form) }}
        </form>
    </div>
</div>
