ul {
	margin: 25px 0 0;
	float: center;
}
.pat ul{
	list-style: none;
	margin: 25px 0 0;
	overflow: hidden;
}

.pat ul li{
	background: url(../images/bg-frame.png) no-repeat center top;
	border-radius: 3px;
	float: left;
	height: 306px;
	margin: 25px 0 0 24px;
	padding: 0 3px 0;
	width: 340px;
}

.pat ul li h2{
	font-family: "Times New Roman", Times, serif;
	font-size: 20px;
	text-align: center;
	height: 49px;
	letter-spacing: 0.025em;
	line-height: 49px;  
	text-transform: uppercase;
}

.pat ul li img{
	border-bottom: 1px solid #3B0405; 
	border-top: 1px solid #3B0405;
}
.pat ul li a{
	color: #696969;
}
.pat ul li a:hover{
	color: #3B0405;
}
.recherche form{
	border-radius: 60px;
}
.recherche form input#search {
	background: #A9A9A9;
	font-style:italic;
	height: 25px;
	line-height: 25px;
	margin-left:0;
	padding: 0;
	width: 300px;
}
.recherche form input#searchbtn {
	background: url(../images/im.png) no-repeat;
	border: 0;
	margin-right:0;
	height: 25px;
	width: 25px;
	border-radius: 20px;
}