{% extends "@FOSUser/layout.html.twig" %}

{% block h2 %} <h2>Remplir le formulaire pour creer votre compte</h2> {% endblock %}
{% block fos_user_content %}
{% include "@FOSUser/Registration/register_content.html.twig" %}
{% endblock fos_user_content %}
