



    <form action="http://localhost/ali/AnnuaireWeb/vendor/ooo.php" method="post">


        <!-- <input type="hidden" name="amount " id="amount" value="{ amount }">-->
        <div id="payment-form"></div>
        <button  type="submit" value="submit" class="btn btn-default" >Payemnt</button>
    </form >






    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://js.braintreegateway.com/js/braintree-2.31.0.min.js"></script>
    <script>

        $.ajax({
            url :"http://localhost/ali/Annuaireweb/vendor/token.php",
            type :"get",
            dataType:"json",
            success: function(data){
                braintree.setup(data,'dropin', {container :'payment-form'});


            }

        })
    </script>