{% extends 'base.html.twig' %}
{% block body %}
    <link href="{{ asset('styles/style.css') }}" rel='stylesheet' type='text/css' />

    <div class="w3ls-banner jarallax">
    <div class="w3lsbanner-info">
    <!-- header -->

        <div class="pull-left">
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <a href="{{ path('filtre_clt')}}" class="bouton5" >Filtrer</a><br/>
            <br>
            <br>
            <a href="{{ path('affiche_even_clt')}}" class="bouton5">Consulter</a></div>
        <div class="pull-right">
            <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1oW2wSzNbrYug4rdKQaABXnBdW4hmbPF5" width="150" height="150"></iframe>

        </div>
        <p><i><h1><font color="#b22222"> Ca commence ... </font></h1></i></p>
        <p ><i><h1><font color="#b22222">♥ Evenements ♥ </font></h1> </i></p>


            <div class="container">
            <div class="agile_banner_info">

                <div id="typed-strings" class="agileits_w3layouts_strings" style="alignment: right">



                    <p class="evts-top-title"><i>A Chaque événement son art de servir.A chaque événement il y a le goût d’un dessert particulier, préparé avec le plus grand soin pour une clôture tout en beauté.</i></p><p class="evts-sub-top-title"><i>Une composition très harmonieuse de produits confectionnés avec amour soigneusement dressés dans des supports élégants.Valorisez vos évènements avec une touche de la <b>délicatesse</b>, et la <b>finesse</b> de la dentelle.Chaque plateau peut servir 100 personnes.
                    <p class="evts-sub-top-title"><i>Tout au long de l'année, votre boulanger vous invite à célébrer <font color="#6495ed"><b> l'Epiphanie, la St Valentin, Mardi-Gras, le 1er avril, Pâques, la Pentecôte, la Ste Catherine, Halloween, la St Nicolas, Noël, Nouvel An..</b></font></i></p><p class="evts-sub-top-title"><i>Et n'oublions pas les séances de Coatching animées par des chefs hautement qualifiés,pour les professionnels, gourmets, gastronomes, amoureux de la cuisine ou simples curieux.
                <br>
                <br>
                <br>



                        <iframe width=200 height=200 hspace="200" src="https://www.youtube.com/embed/CBwMTqJ2nEY?controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        <iframe width=200 height=200 hspace="200"  src="https://www.youtube.com/embed/_Y6RkO1Jk98?controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        <iframe width=200 height=200 hspace="200" src="https://www.youtube.com/embed/5Q2Y0zjCS5A?controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        <iframe width=200 height=200 hspace="200" src="https://www.youtube.com/embed/LURkMcDsmCw?controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


                        </i> </div>
                <span id="typed" style="white-space:pre;"></span>
            </div>
        </div></div></div>



{% endblock %}