{% extends '@Annuaire/patissier.html.twig' %}
{% block body %}
    <h1>Remplissez les champs pour ajouter une patisserie</h1>

<div>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input type="submit" value="Ajouter" />
    {{ form_end(form) }}
</div>

{% endblock %}